*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }

  h1{
      color: aliceblue;
      text-align: center;
      margin-bottom: 0px;
  }
  
  body {
    background-image: url("calcback.jpg");
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to right, #197946, #0069aa); */
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(64, 182, 246, 0.75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 25px 25px 0px 0px;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }

  .foot{
      background-color: black;
      height: 25px;
      width: 400px;
      border-radius: 0px 0px 25px 25px;

    }